@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Add this import statement in the html head element. */
/* <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> */

/* .btn {
  @apply bg-blue-500 text-white py-2 px-4 rounded;
} */

body {
  margin-top: 3em;
  background-image: url('./assets/pic.png');
  /* background-color: #357DED; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: rgb(68, 60, 60);
  display: flex;
  justify-content: center;
}

h1, h2, p, nav, button {
  color: black;
}

nav {
  /* background-color: #357DED; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  display: flex;
  justify-content: flex-start;
} 

nav ul li{
display: inline;
padding : 0 10px 0 10px;
text-align: center;
} 

h2 {
  font-size: 1.5rem; /* equivalent to text-2xl in tailwind */
  font-weight: 700; /* equivalent to font-bold in tailwind */
  margin-bottom: 1rem; /* equivalent to mb-4 in tailwind */
}



