.gitCardContainer {
  bottom: 5vh;
  right: 2vw;
  max-height: 45vh;
  width: 30vw;
  overflow-y: scroll;
  border: solid azure 4px;
}

.remove-git-view {
  bottom: 2vh;
  right: 16vw;
}

.gitCard {
  background-image: url(../../assets/git.png);
  background-repeat:no-repeat;
  background-size: contain;
  background-color:azure;
  margin-bottom: 0px;
  padding: 10px;
  color:black;
  border: solid #038983;
}

.name-input {
  position: relative;
  margin-bottom: 10px;
}

.repo-input {
  position: relative;
  margin-bottom: 10px;
}

#commit-btn {
  position: relative;
  margin-bottom: 10px;
}

.access-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
