  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    color: black;
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
  }
  
  .item-container {
    min-height: 50px;
    padding: 8px;
    border: 1px dashed transparent;
  }
  
  .item-container.dragging-over {
    border-color: #ccc;
  }
  
  .item {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px 0;
    padding: 4px;
  }
  