.container {
  display: flex;
  justify-content: space-between;
}

.box {
  color: black;
  width: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
}

.item-container {
  min-height: 50px;
  padding: 8px;
  border: 1px dashed transparent;
  display: flex;
  flex-direction: column;
}

.item-container.dragging-over {
  border-color: #ccc;
}

.item {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px 0;
  padding: 4px;
  cursor: grab;
}


.item,
.new-item-input,
.add-item-button {
  padding: 8px;
  margin: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 14px;
  font-family: sans-serif;
  color: #333;
  cursor: pointer;
}


.new-item-input {
  cursor: text;
}

.add-item-button:hover {
  background-color: #eee;
}

.new-header-input {
  cursor: text;
}

.add-header-button:hover {
  background-color: #eee;
}
