.parent-container-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stackContainer {
  max-height: 41vh;
  max-width: 30vw;
  overflow-y: scroll;
  border: solid azure 4px;
}

.remove-stack-view {
  margin-top: 1rem;
}

.stackCard {
  background-image: url(../../assets/stack.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: azure;
  margin-bottom: 0px;
  padding: 10px;
  color: black;
  border: solid #038983;
}

.input-section {
  color: black;
}

/* .input-section-stack {
  margin-top: 1rem;
} */

#view-button {
  margin-top: 1rem;
}

#question-button {
  margin-top: 1rem;
}

.access-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
