.stackContainer {
    position: fixed;
    top: 2vh;
    right: 2vw;
    max-height: 45vh;
    max-width: 30vw;
    overflow-y: scroll;
    border: solid azure 4px;
   
  }
  .remove-stack-view {
    position: fixed;
    top: 47vh;
    right: 16vw;
  }

  .stackCard {
    background-color:grey;
    margin-bottom: 0px;
    padding: 10px;
    color:black;
    border: solid black;
  }

  .input-section{
   color: black;
  }

  .input-section-stack{ 
    position: fixed;
    top: 15vh;
    right: 10vw;
  }

  #view-button{
    position: fixed;
    top: 22vh;
    right: 11%;
  }

  #question-button{
    position: fixed;
    top: 28.5vh;
    right:8%;
  }
 
