.switch-button {
    background: none;
    border: none;
    color: #357CED;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    margin-left: 5px;
  }
  
  .switch-button:hover {
    text-decoration: underline;
  }
